$main-width: 1200px;

$main-there-color: #088FC8;
$main-font-color: #666666;
$main-font-light-color: #999999;
$main-bg-color: #fff;//#F3F3F3;
$main-bg-light-color: #F7F7F7;
$main-border-color: #E4E4E4;

body {
  background-color: $main-bg-color;
  color: $main-font-color;
  font-size: 14px;
}
a {
  text-decoration: none!important;
}
table{
  font-size: 14px;
}
.main-width {
  width: $main-width;
}

.center {
  margin: 0 auto;
}
.txt-center {
  text-align: center;
}
.nav .open>a, .nav a:focus, .nav .open>a:hover, .nav a:hover{
  background-color:transparent!important;
}

.dropdown-menu{
  border: none;
}

.right {
  float: right;
}


.no-data {
  text-align: center;
  padding: 32px;
  font-size: 14px;
}
.marginTop {
  margin-top: 15px!important;
}
.marginLeft {
  margin-left: 15px!important;
}
.marginBottom {
  margin-bottom: 15px!important;
}

.margin-lr{
  margin-left:15px!important;;
  margin-right:15px!important;;
}

.page-title {
  font-weight: 800;
  margin: 0;
  font-size: 20px;
}
.page-minHeight {
  min-height: 500px;
  padding: 16px;
  background-color: #fff;
}

.paddingTop{
  padding-top: 15px!important;
}
.padding{
  padding: 15px!important;
}
.must-star{
  color:#ff8979;
}
.border {
  border: solid 1px #E4E4E4;
}
.font-color{
  color: $main-there-color;
}
.text-right{
  text-align: right;
}