@import "flex";

.main-body{
  //background-color: $main-bg-light-color;
  //padding-top: 32px;
}
.dashboard-wrap {
  padding-top:16px;
  background-color: $main-bg-light-color;
}
.dashboard {
  width: 960px;
  font-size: 16px;
  color: $main-font-light-color;
  //margin-top: 32px;
  .account,.order-info,.message {
    background-color: #fff;
    padding: 16px;
  }
  .top {
    @include flexbox;
    @include justify-content(space-between);
    @include flex-flow(row wrap);
    .account {
      @include flex(0,0,auto);
      width: 230px;;
      background-color: #fff;
      .btn{
        background-color: #F37421;
        border: solid 1px #D4651B;
      }
      div {
        &:nth-child(2) {
          margin: 16px 0;
          text-align: right;
        }
        a {
          display: block;
          width: 120px;
          text-indent: 16px;
          letter-spacing: 16px;
        }
      }
    }
    .order-info {
      @include flex(0,0,auto);
      @include flexbox;
      @include flex-direction(column);
      width: 250px;
      margin: 0 16px;
      padding: 0;
      background-color: $main-bg-color;
      div {
        padding: 16px;
        background-color: #fff;
        @include flex(1,0,auto);
        &:first-child {
          margin-bottom: 8px;
        }
        &:last-child {
          margin-top: 8px;
        }
      }
    }
    .message {
      position: relative;
      @include flex(2,0,auto);
      background-color: #fff;
      .msg-body{
        width: 385px;
        height: 96px;
        font-size:14px;
        word-break: break-all;
        overflow: hidden;
        padding-bottom: 16px;
        .item {
          a {
            display: inline-block;
            width: 300px;
            margin-right: 10px;
            overflow: hidden;
          }
        }
      }
      .more {
        position: absolute;
        text-align: right;
        bottom: 0px;
        right: 16px;
        font-size: 12px;
      }
    }
    .money {
      color: $main-there-color;
      margin-right: 5px;
      font-size: 24px;
      font-weight: 800;
    }
  }
  .body {
    margin: 32px 0;
    background-color: #fff;
    padding: 16px;
    .header {
      //padding: 16px;
    }
  }

  .new-media-list-wrap{
    padding:15px;
    background-color: #fff;
    .new-media-list{
      @include flexbox();
      @include flex-flow(row wrap);
      @include  justify-content(space-around);
      .item {
        @include flexbox();
        @include align-items(row wrap);
        border: 1px solid $main-border-color;
        padding: 10px;
        margin: 5px;
        min-width: 280px;
        .header-img{
          //margin-left: 15px;
          min-width: 60px;
          img{
            max-height: 60px;
            max-width: 60px;
          }
        }
        .media-info{
          margin-left:10px;
          font-size: 14px;
          .title{
            position: relative;
            min-width: 180px;
            overflow: hidden;
            margin-bottom: 10px;
          }
          .media-icon{
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 100%;
            &.weibo{
              background-image: url(/img/weibo.jpg);
            }
            &.weixin{
              background-image: url(/img/icon_weixin.png);
            }
          }
          .detail-wrap{
            position: relative;
            min-width: 180px;
            .see-detail{
              position: absolute;
              display: inline-block;
              top: 0;
              right: 0;
              width: 30px;
            }
          }
        }

      }
    }
  }
}