@import "flex";

.star-wrap {
  padding: 0 15px;
  .search-wrap {
    margin-top: 15px;
    height: 40px;
    border-bottom: 2px #088fc8 solid;
    .search-left {
      padding-left: 15px;
      .search-nav {
        float: left;
        height: 38px;
        padding: 0px;
        margin: 0px;
        li {
          float: left;
          list-style: none;
          a {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 16px;
            text-align: center;
            font-size: 14px;
            color: #5f5f5f;
          }
          &.active {
            background-color: #088FC8;
            a {
              color: #fff;
            }
          }
        }
      }
      .input-wrap {
        float: right;
        margin-right: 15px;
        width: 360px;
        height: 38px;
        padding: 0;
        display: inline;
        input {
          width: 310px;
          padding: 0px 5px 0px 5px;
          height: 36px;
          line-height: 36px;
          border: 2px #088fc8 solid;
          border-bottom: none;
          border-right: none;
          float: left;
          background: none;
          color: #999;
          position: relative;
          top: 2px;
        }
        button {
          padding: 0;
          margin: 0;
          overflow: visible;
          border: 0 none;
          background-color: #088fc8;
          //background: #088fc8 url(../../images/20150106/search.png) no-repeat center;
          cursor: pointer;
          float: right;
          width: 50px;
          height: 38px;
          position: relative;
          top: 2px;
          color: #fff;
        }
      }
    }
  }


  .search-arg-wrap {
    margin-top: 15px;
    ul{
      //border: 1px #e4e4e4 solid;
      background: #f7f7f7;
      padding: 0;
    }
    .block {
      //height: 40px;
      border-bottom: #e4e4e4 1px dashed;
      line-height: 40px;

      @include flexbox;
      .arg-name {
        @include flex(0,0,auto);
        font-size: 12px;
        width: 100px;
        background-color: #EEEEEE;
        //text-align: center;
        i {
          font-size: 12px;
          margin-right: 5px;
          margin-left: 20px;
        }
      }
      .arg-el {
        @include flex(1,0,auto);
        width: 980px;
        padding-left: 30px;
        &.hide-sub{
          overflow: hidden;
          height: 45px;
        }
        a {
          display: inline-block;
          font-size: 12px;
          padding: 3px 8px;
          border-radius: 3px;
          height: 24px;
          line-height: 18px;
          &:hover{
            background-color: #088FC8;
            color: #fff;
          }
        }
        .active {
          background-color: #088FC8;
          color: #fff;
        }
      }
      .more-drop {
        @include flex(0,0,auto);
        width: 150px;
        a {
          display: inline-block;
          padding: 0 5px;
          margin: 0 10px;
          height: 25px;
          font-size: 12px;
          line-height: 25px;
          border: solid 1px gray;
          color: #fff;
          background-color: #999999;
          &.active {
            i{
              &:before{
                content: "\e113";
              }
            }
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }

    }

  }
  .search-tip-wrap {
    position: relative;
    padding: 15px 0;
    .tips {
      display: inline-block;
      .tip-txt {
        margin-right: 15px;
      }
      .glyphicon{
        margin-left: 5px;

      }
      a {
        display: inline-block;
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 3px;
        background-color: #088FC8;
        color: #fff;
        margin-right: 15px;
      }
    }
    .total {
      position: absolute;
      right: 0;
      bottom: 15px;
    }
  }

  .data-table {
    th,td{
      text-align: center;
      vertical-align: inherit;
    }
    thead {
      tr{
        padding: 5px;

      }
      th {
        border-top: solid 1px #E4E4E4!important;
        border-bottom: solid 2px #088FC8!important;
        //border-top: solid 1px #E4E4E4;
      }
    }
    td{
      p {
        margin: 0;
      }
      &.intro {
        text-align: center;
        p{
          max-width: 220px;
          max-height: 57px;
          overflow: hidden;
          margin: 0 auto;
        }
      }
    }
    .media-img{
      text-align: left;
      img{
        max-height: 50px;
        max-width: 50px;
        vertical-align: baseline;
        float: left;
      }
    }
    .item-info{
      display: inline-block;
      margin-left: 15px;
      .media-name{
        margin-bottom: 10px;
      }
      .media-weibo-name{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

//通用
.create-order-step-wrap {
  @include flexbox();
  @include justify-content(space-between);
  background-color: #F7F7F7;
  border: 1px solid #E4E4E4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 15px;
  padding: 10px;
  .step-list{
    text-align: center;
    //width:100%;
    span{
      border: 1px solid #B4B4B4;
      background-color: $main-bg-color;
      display: inline-block;
      padding: 10px 15px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      i {
        background-color: #55ACDB;
        border:1px solid #93AAB6;
        display: inline-block;
        line-height: 15px;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        color: #fff;
        margin-right: 5px;
      }
      &.arrow{
        border: none;
        padding: 10px 5px;
        background-color: #F7F7F7;
        i{
          border:none;
          background-color: #F7F7F7;
          color: #55ACDB;
        }
      }
    }
  }
  .button-wrap{
    margin-right: 30px;
    .btn-success{
     margin-top: 4px;
    }
  }
}

.create-order-fixed-wrap {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  pointer-events: auto;
  opacity: .9;
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  text-align: center;
  .btn{
    //margin-top:25px;
  }
  .selected{
    font-weight: bold;
    margin-right: 15px;
  }
}
.wechat-qr-img{
  position: relative;
  &:hover{
   .wechat-qr{
     visibility: visible;
   }
  }
  .wechat-qr{
    position:absolute;
    visibility: hidden;
    width: 80px;
    height: 80px;
    max-width: 80px!important;
    max-height: 80px!important;
    top: 20px;
    left: 0;
    border: 1px solid gainsboro;
  }
}
