  <div class="" ng-controller="AddAccountCtrl">
    <div class="padding account-view-wrap marginTop" >
      <div class="title"><span><i class="glyphicon glyphicon-list-alt"></i>添加{{currentMediaName}}账号</span><button class="btn btn-default btn-sm" ng-click="goBack()">返回</button></div>
      <div>
      </div>
      <div class="marginTop form-wrap">
        <form ng-if="currentMediaType == 2" name="addWechatForm " ng-submit="save(addWechatForm.$valid)" class="form-horizontal">
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微信账号</label>
            <div class="col-xs-4">
              <input type="text" ng-required="true" class="form-control" placeholder="微信账号" ng-model="accountForm.AccountName" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微信昵称</label>
            <div class="col-xs-4">
              <input type="text" ng-required="true" class="form-control" placeholder="" ng-model="accountForm.NickName" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微信头像</label>
            <div class="col-xs-6">
              <img class="upload-img" ng-src="{{accountForm.Image}}" alt=""/>
              <a class="btn btn-default btn-sm" type="file" ngf-select="uploadFile($file,'wx_head')" name="file" ngf-pattern="'image/*"
                      accept="image/*" ngf-max-size="10MB" ngf-min-height="100">选择文件</a>
              <!--<input class="col-xs-6" type="file" ng-required="true"><span class="btn btn-default">上传</span>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>粉丝人数</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="number" ng-required="true" class="form-control" placeholder="" ng-model="accountForm.FansNumber">
                <div class="input-group-addon">人</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>账号类型</label>
            <div class="col-xs-4">
              <div class="account-type-list row">
                <div class="col-xs-3" ng-repeat="item in searchTypeData.common">
                  <label class="radio-inline" ><input ng-model="accountForm.ClassID" type="radio" ng-value="item" name="account-type"/>{{item.ClassName}}</label>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="form-group">-->
            <!--<label class="col-xs-2 control-label"><span class="must-star">*</span>所在行业</label>-->
            <!--<div class="col-xs-2">-->
              <!--<select name="industry" ng-required="true" class="form-control" ng-options="item.ClassName for item in searchTypeData.industry" ng-model="accountForm.ClassMediaFieldID">-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="col-xs-2 control-label"><span class="must-star">*</span>职业</label>-->
            <!--<div class="col-xs-2">-->
              <!--<select name="profession" ng-required="true" class="form-control" ng-options="item.ClassName for item in searchTypeData.employment" ng-model="accountForm.ClassProfessionID">-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>单图文报价</label>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">硬广</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0" ng-model="accountForm.SingleYing" >
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">软广</div>
                <input type="number" ng-required="true" class="form-control"  placeholder="0" ng-model="accountForm.SingleRuan">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>多图文第一条</label>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">硬广</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0"   ng-model="accountForm.MoreFirstYing">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">软广</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0"  ng-model="accountForm.MoreFirstRuan">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>多图文第二条</label>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">硬广</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0"   ng-model="accountForm.MoreSecondYing">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">软广</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0"   ng-model="accountForm.MoreSecondRuan">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>多图文3~N</label>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">硬广</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0"  ng-model="accountForm.MoreThreeYing">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">软广</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0"  ng-model="accountForm.MoreThreeRuan">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>账号介绍</label>
            <div class="col-xs-4">
              <textarea name=""  cols="30" rows="5" class="form-control" ng-model="accountForm.Intro"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-xs-2"></label>
            <div class="col-xs-4">
              <input type="submit" class="btn btn-success" value="保存"/>
              <input type="reset" class="btn btn-default" value="清空"/>
            </div>
          </div>

        </form>
        <!-- 微博-->
        <form ng-if="currentMediaType == 1" name="addWeiboForm " ng-submit="save(addWeiboForm.$valid)" class="form-horizontal">
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微博地址</label>
            <div class="col-xs-4">
              <input type="text" ng-required="true" class="form-control" placeholder="微博地址" ng-model="accountForm.URL" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微博昵称</label>
            <div class="col-xs-4">
              <input type="text" ng-required="true" class="form-control" ng-model="accountForm.NickName" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微博头像</label>
            <div class="col-xs-6">
              <img class="upload-img" ng-src="{{accountForm.Image}}" alt=""/>
              <a class="btn btn-default btn-sm" type="file" ngf-select="uploadFile($file,'wb_head')" name="file" ngf-pattern="'image/*"
                 accept="image/*" ngf-max-size="10MB" ngf-min-height="100">选择文件</a>
              <!--<input class="col-xs-6" type="file" ng-required="true"><button class="btn btn-default">上传</button>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>粉丝人数</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="number" ng-required="true" class="form-control" ng-model="accountForm.FansNumber">
                <div class="input-group-addon">人</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>账号类型</label>
            <div class="col-xs-4">
              <div class="account-type-list row">
                <div class="col-xs-3" ng-repeat="item in searchTypeData.common track by $index">
                  <label class="radio-inline" ><input ng-model="accountForm.ClassID" type="radio" ng-value="item" name="account-type"/>{{item.ClassName}}</label>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="form-group">-->
            <!--<label class="col-xs-2 control-label"><span class="must-star">*</span>所在行业</label>-->
            <!--<div class="col-xs-2">-->
              <!--<select class="form-control" ng-options="item.ClassName for item in searchTypeData.industry" ng-model="accountForm.selectMedia">-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="col-xs-2 control-label"><span class="must-star">*</span>职业</label>-->
            <!--<div class="col-xs-2">-->
              <!--<select class="form-control" ng-options="item.ClassName for item in searchTypeData.employment" ng-model="accountForm.selectProfession">-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>直发价格</label>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">硬直</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0" ng-model="accountForm.YGZhiFaPrice" >
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">软直</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0" ng-model="accountForm.RGZhiFaPrice">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>转发价格</label>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">硬转</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0" ng-model="accountForm.YGZhuanFaPrice">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-group">
                <div class="input-group-addon">软转</div>
                <input type="number" ng-required="true" class="form-control" placeholder="0" ng-model="accountForm.RGZhuanFaPrice">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>账号介绍</label>
            <div class="col-xs-4">
              <textarea name=""  cols="30" rows="5" class="form-control" ng-model="accountForm.Intro"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2"></label>
            <div class="col-xs-4">
              <input type="submit" class="btn btn-success" value="保存"/>
              <input type="reset" class="btn btn-default" value="清空"/>
            </div>
          </div>
        </form>
        <!-- 朋友圈-->
        <form ng-if="currentMediaType == 3" name="addFriendsForm " ng-submit="save(addFriendsForm.$valid)" class="form-horizontal">
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微信账号</label>
            <div class="col-xs-4">
              <input type="text" ng-required="true" class="form-control" placeholder="微信账号" ng-model="accountForm.AccountName" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微信昵称</label>
            <div class="col-xs-4">
              <input type="text" ng-required="true" class="form-control" placeholder="" ng-model="accountForm.NickName" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>性别</label>
            <div class="col-xs-4">
              <div class="form-inline">
                <label ><input type="radio" ng-model="accountForm.Sex" checked value="1" name="sex"/>男</label>
                <label ><input type="radio" ng-model="accountForm.Sex" value="0" name="sex"/>女</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>生日</label>
            <div class="col-xs-4">
              <div class="input-group input-append input-prepend">
                <input type="text" class="form-control" min-date="Date string | '2015-8-11'" date-time ng-model="accountForm.Birthday" auto-close="true" required="true" min-view="date" max-view="date" format="yyyy-MM-dd" partial="true">
                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微信头像</label>
            <div class="col-xs-6">
              <img class="upload-img" ng-src="{{accountForm.Image}}" alt=""/>
              <a class="btn btn-default btn-sm" type="file" ngf-select="uploadFile($file,'fri_head')" name="file" ngf-pattern="'image/*"
                 accept="image/*" ngf-max-size="10MB" ngf-min-height="100">选择文件</a>
              <!--<input class="col-xs-6" type="file" ng-required="true" ng-model="accountForm.WXImage"><button class="btn btn-default">上传</button>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>粉丝人数</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="number" ng-required="true" class="form-control" ng-model="accountForm.FansNumber">
                <div class="input-group-addon">人</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>微信人数截图</label>
            <div class="col-xs-6">
              <img class="upload-img" ng-src="{{accountForm.FriendNumberImage}}" alt=""/>
              <a class="btn btn-default btn-sm" type="file" ngf-select="uploadFile($file,'fri_fans')" name="file" ngf-pattern="'image/*"
                 accept="image/*" ngf-max-size="10MB" ngf-min-height="100">选择文件</a>
              <!--<input class="col-xs-6" type="file" ng-required="true"><button class="btn btn-default">上传</button>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>地区</label>
            <div class="col-xs-4">
              <div class="input-group form-inline">
                <select class="form-control" ng-required="true" ng-options="item.ClassName for item in provinceList" ng-model="accountForm.ProvinceID" >
                </select>
                <select class="form-control marginLeft" ng-required="true" ng-options="item.ClassName for item in cityList" ng-model="accountForm.CityID" >
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>账号类型</label>
            <div class="col-xs-4">
              <div class="account-type-list row">
                <div class="col-xs-3" ng-repeat="item in searchTypeData.common">
                  <label class="radio-inline" ><input ng-model="accountForm.ClassID" type="radio" ng-value="item" name="account-type"/>{{item.ClassName}}</label>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="form-group">-->
            <!--<label class="col-xs-2 control-label"><span class="must-star">*</span>所在行业</label>-->
            <!--<div class="col-xs-2">-->
              <!--<select class="form-control" ng-options="item.ClassName for item in searchTypeData.industry" ng-model="accountForm.ClassMediaFieldID">-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="col-xs-2 control-label"><span class="must-star">*</span>职业</label>-->
            <!--<div class="col-xs-2">-->
              <!--<select class="form-control" ng-options="item.ClassName for item in searchTypeData.employment" ng-model="accountForm.ClassProfessionID">-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>报价</label>
            <div class="col-xs-2">
              <div class="input-group">
                <input type="number" ng-required="true" class="form-control" placeholder="0" ng-model="accountForm.Price" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>账号介绍</label>
            <div class="col-xs-4">
              <textarea cols="30" rows="5" class="form-control" ng-model="accountForm.Intro"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2"></label>
            <div class="col-xs-4">
              <input type="submit" class="btn btn-success" value="保存"/>
              <input type="reset" class="btn btn-default" value="清空"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<!--</div>-->
