<div class="precontract-wrap page-minHeight">
  <div class="precontract-body container">
    <div class="border padding">
      <div class="header">
        <h4 class="page-title"><i class="glyphicon glyphicon-file"></i> {{orderTitle}}预约活动列表</h4>
      </div>
      <form class="form-inline marginTop">
        <div class="form-group">
          <label class="" for="exampleInputEmail3">平台：</label>
          <select class="form-control input-sm" ng-model="search.channelID">
            <option value="">不限</option>
            <option value="2">微信公众号</option>
            <option value="1">微博</option>
            <option value="3">微信朋友圈</option>
          </select>
        </div>
        <div class="form-group">
          <label class="" for="exampleInputEmail3">资源名称：</label>
          <input type="email" class="form-control input-sm" ng-model="search.name" id="exampleInputEmail3" placeholder="资源名称">
        </div>
        <!--<div class="form-group">-->
          <!--<label class="" for="exampleInputEmail3">预约名称：</label>-->
          <!--<input type="email" class="form-control input-sm" placeholder="预约名称">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="" for="exampleInputEmail3">起止时间：</label>-->
          <!--<input type="text" class="form-control input-sm" id="xx" placeholder="0">-->
          <!--<input type="text" class="form-control input-sm" id="sdf" placeholder="0">-->
        <!--</div>-->
        <button ng-click="searchHandler()" type="submit" class="btn btn-sm btn-primary marginLeft">搜索</button>
      </form>
      <div class="main-body marginTop">
        <!-- 全部-->
        <table ng-if="orderType == 1" class="table table-striped table-hover">
          <tr>
            <th>预约订单号</th>
            <th>资源名称</th>
            <th>平台</th>
            <th><b>预约过期时间</b></th>
            <th><b style="color: red;">执行时间</b></th>
            <th>应约价格</th>
            <th>订单状态</th>
            <!--<th>完成连接、截图</th>-->
            <th>操作</th>
          </tr>
          <tr ng-repeat="item in dataList track by $index">
            <td>{{item.BDetailNo}}</td>
            <td>{{item.BMediaNickName}}</td>
            <td>{{getChannelName(item.ChannelID)}}</td>
            <td>{{ calcDate(item.AEndTime) | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>{{calcDate(item.AStartTime) | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>{{item.BMaxPrice | currency:'￥'}}</td>
            <td>{{getStateName(item.BState)}}</td>
            <!--<td ></td>-->
            <td>
              <button ng-click="updateState(item.BID,3)" class="btn btn-info btn-sm">同意</button>
            </td>
          </tr>
          <tr ng-if="dataList.length<=0">
            <td colspan="9" class="no-data">暂无数据</td>
          </tr>
        </table>
        <!-- 待执行-->
        <table ng-if="orderType == 2" class="table table-striped table-hover">
          <tr>
            <th>预约订单号</th>
            <th>资源名称</th>
            <th>平台</th>
            <th><b>预约过期时间</b></th>
            <th><b style="color: red;">执行时间</b></th>
            <th>应约价格</th>
            <th>订单状态</th>
            <th>完成连接、截图</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="item in dataList track by $index">
            <td>{{item.BDetailNo}}</td>
            <td>{{item.BMediaNickName}}</td>
            <td>{{getChannelName(item.ChannelID)}}</td>
            <td>{{ calcDate(item.AEndTime) | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>{{calcDate(item.AStartTime) | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>{{item.BMaxPrice | currency:'￥'}}</td>
            <td>{{getStateName(item.BState)}}</td>
            <td><a href="#">立即上传</a></td>
            <td>
              <button class="btn btn-info btn-sm">确认完成</button>
            </td>
          </tr>
          <tr ng-if="dataList.length<=0">
            <td colspan="9" class="no-data">暂无数据</td>
          </tr>
        </table>
        <!-- 已完成-->
        <table ng-if="orderType == 3" class="table table-striped table-hover">
          <tr>
            <th>预约订单号</th>
            <th>资源名称</th>
            <th>平台</th>
            <th><b>预约过期时间</b></th>
            <th><b style="color: red;">执行时间</b></th>
            <th>应约价格</th>
            <th>订单状态</th>
            <th>完成连接、截图</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="item in dataList track by $index">
            <td>{{item.BDetailNo}}</td>
            <td>{{item.BMediaNickName}}</td>
            <td>{{getChannelName(item.ChannelID)}}</td>
            <td>{{ calcDate(item.AEndTime) | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>{{calcDate(item.AStartTime) | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>{{item.BMaxPrice | currency:'￥'}}</td>
            <td>{{getStateName(item.BState)}}</td>
            <td ></td>
            <td>
              <button class="btn">同意</button>
            </td>
          </tr>
          <tr ng-if="dataList.length<=0">
            <td colspan="9" class="no-data">暂无数据</td>
          </tr>
        </table>
        <div class="ng-hide">
          <pagination rotate="false" max-size="10" ng-change="pageChanged()" items-per-page="15" boundary-links="true" total-items="1" ng-model="currentPageIndex" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
