<div class="sub-header-wrap">
  <div class="container sub-header-nav">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">Clickable link</a></li>
      <li role="presentation"><a href="#">Clickable link</a></li>
      <li role="presentation" class="disabled"><a href="#">Disabled link</a></li>
    </ul>
  </div>
</div>
<div class="star-wrap marginTop page-minHeight">
  <div class="search-wrap">
    <h4 class="page-title">明星资源11</h4>
    <div class="search-input row marginTop">
      <div class="search-left col-xs-2">
        <button class="btn">创建订单</button>
      </div>
      <div class="search-right col-xs-10">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="输入关键字">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>
    <div class="search-arg-wrap">
      <table class="table-arg table table-bordered marginTop">
        <tr>
          <td class="col-lg-2">类型</td>
          <td>
            <a href="#" ng-model="type" btn-radio="'派单类'">派单类</a>
            <a href="#" ng-model="type" btn-radio="'预约类'">预约类</a>
          </td>
        </tr>
        <tr>
          <td class="col-lg-2">媒体行业</td>
          <td>
            <a href="#" ng-model="idustry" btn-radio="1">1</a><a href="#" ng-model="idustry" btn-radio="2">2</a><a
            href="#" ng-model="idustry" btn-radio="3">3</a><a href="#" ng-model="idustry" btn-radio="4">4</a><a href="#"
                                                                                                                ng-model="idustry"
                                                                                                                btn-radio="5">5</a><a
            href="#" ng-model="idustry" btn-radio="6">6</a><a href="#" ng-model="idustry" btn-radio="7">7</a><a href="#"
                                                                                                                ng-model="idustry"
                                                                                                                btn-radio="8">8</a><a
            href="#" ng-model="idustry" btn-radio="9">9</a><a href="#" ng-model="idustry" btn-radio="10">10</a>
          </td>
        </tr>
        <tr>
          <td class="col-lg-2">职业</td>
          <td>
            <a href="#" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</a>
            <a href="#" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</a>
            <a href="#" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</a>
          </td>
        </tr>
      </table>

    </div>
  </div>

  <div class="data-header">
    <span>排序</span><span class="split">|</span>
    <span class="active" ng-model="dataOrder" btn-radio="'default'">默认排序</span><span class="split">|</span>
    <span>订阅量：</span><span ng-model="dataOrder" btn-radio="'flowers'">由高到低<i class="glyphicon glyphicon-chevron-down"></i></span><span class="split">|</span>
    <span>价格：</span><span ng-model="dataOrder" btn-radio="'price'">由高到低<i class="glyphicon glyphicon-chevron-down"></i></span>
  </div>
  <!-- 数据-->
  <div class="data-wrap">
    <div class="item">
      <div class="img">
        <span class="user-img" style="background-size: 488.6%; background-image: url(http://open.weixin.qq.com/qr/code/?username=qqshishang)"></span>
      </div>
      <div class="info-wrap">
        <div class="name-wrap">
          <h3>全球时尚精选</h3>
          <span class="icon-weixin"></span><span>(微信号:sadfasf)</span>
          <span class="icon-qr glyphicon glyphicon-qrcode">
            <a class="qr-layer"><img src="http://open.weixin.qq.com/qr/code/?username=qqshishang" alt=""/></a>
          </span>
        </div>
        <div class="info">
          野史 正史 抽丝剥茧揭开历史面纱,用“碎片化”的史实细节撬动尘封往事,还原历史原貌,重构更有生命的唯物历史观
          野史 正史 抽丝剥茧揭开历史面纱,用“碎片化”的史实细节撬动尘封往事,还原历史原貌,重构更有生命的唯物历史观
        </div>
        <div class="follower">
          <span>订阅量：234234</span>
        </div>
        <div class="price-info">
          <span class="price-txt">参考报价：<span class="price">1750-2000</span>元</span>
          <span class="user-tag">标签：文学艺术</span>
        </div>
      </div>
      <div class="ctrls">
        <div>
          <a class="order btn btn-default">直接下单</a>
        </div>
        <div>
          <a class="favorite btn btn-default">收藏</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img">
        <span class="user-img" style="background-size: 488.6%; background-image: url(http://open.weixin.qq.com/qr/code/?username=qqshishang)"></span>
      </div>
      <div class="info-wrap">
        <div class="name-wrap">
          <h3>全球时尚精选</h3>
          <span class="icon-weixin"></span><span>(微信号:sadfasf)</span>
          <span class="icon-qr glyphicon glyphicon-qrcode">
            <a class="qr-layer"><img src="http://open.weixin.qq.com/qr/code/?username=qqshishang" alt=""/></a>
          </span>
        </div>
        <div class="info">
          野史 正史 抽丝剥茧揭开历史面纱,用“碎片化”的史实细节撬动尘封往事,还原历史原貌,重构更有生命的唯物历史观
          野史 正史 抽丝剥茧揭开历史面纱,用“碎片化”的史实细节撬动尘封往事,还原历史原貌,重构更有生命的唯物历史观
        </div>
        <div class="follower">
          <span>订阅量：234234</span>
        </div>
        <div class="price-info">
          <span class="price-txt">参考报价：<span class="price">1750-2000</span>元</span>
          <span class="user-tag">标签：文学艺术</span>
        </div>
      </div>
      <div class="ctrls">
        <div>
          <a class="order btn btn-default">直接下单</a>
        </div>
        <div>
          <a class="favorite btn btn-default">收藏</a>
        </div>
      </div>
    </div>

  </div>
</div>
