.main {
    width:960px;
    border: solid 1px #E0DDDD;
    border-top: solid 3px #5DAEE3;
}
.main .title-text {
    padding: 10px 15px;
    font-size: 18px;
}
.main .title-text i {
    color: #5DAEE3;
    margin-right: 15px;
}
.must-star {
    color: red;
}

.mobile-captcha-btn {
    font-size: 12px;
    width: 100%;
}

.advertiser-wrap {
    display: none;
}

.form-group {
    height: 36px;
}

.unhappyMessage {
    color: red;
}