<div class="main-nav">
  <div ng-include="'./page/header.html'" ></div>
</div>
<div ng-controller="PrecontractDetailCtrl">

  <div class="sub-header-wrap">
    <div class="container">
      <ul class="nav nav-pills" ng-if="currentMediaType == 2">
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.wechat">公众号资源</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.wechatprecontract">创建公众号预约订单</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.wechatPreList">预约订单列表</a></li>
      </ul>
      <ul class="nav nav-pills" ng-if="currentMediaType == 1">
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.weibo">微博资源</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.weiboprecontract">创建微博预约订单</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.weiboPreList">预约订单列表</a></li>
      </ul>
      <ul class="nav nav-pills" ng-if="currentMediaType == 3">
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.friends">朋友圈资源</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.friendsprecontract">创建朋友圈预约订单</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.friendsPreList">预约订单列表</a></li>
      </ul>
    </div>
  </div>
  <div class="precontract-wrap page-minHeight pre-detail-wrap">
    <div class="precontract-body container">
      <div class="header">
        <h4 class="page-title font-color"><i class="glyphicon glyphicon-file"></i> {{wechatForm.Title}}订单详情</h4>
      </div>

      <div class="main-body marginTop">
       <table class="table info-table">
         <tr>
           <td class="td-title">预约名称</td>
           <td>{{wechatForm.Title}}</td>
           <td class="td-title">预约编号</td>
           <td>{{wechatForm.ID}}</td>
           <td class="td-title">反馈时间</td>
           <td>{{wechatForm.FeedbackTime | date: 'yyyy-MM-dd hh:mm'}}</td>
         </tr>
         <tr>
           <td class="td-title">活动状态</td>
           <td>处理中</td>
           <td class="td-title">执行时间</td>
           <td>{{wechatForm.StartTime | date: 'yyyy-MM-dd hh:mm'}}</td>
           <td class="td-title">结束时间</td>
           <td>{{wechatForm.EndTime|date: 'yyyy-MM-dd hh:mm'}}</td>
         </tr>
         <tr>
           <td class="td-title">投放形式</td>
           <td>{{ReleaseTypeObject[wechatForm.PriceType]}}</td>
           <td class="td-title">附件</td>
           <td ng-if="wechatForm.AttachmentFile.length >0"><a href="{{window.location.host + wechatForm.AttachmentFile}}" target="_blank">查看附件</a></td>
           <td ng-if="wechatForm.AttachmentFile.length == 0">无附件</td>
           <td class="td-title">创建时间</td>
           <td>{{wechatForm.AddTime|date: 'yyyy-MM-dd hh:mm'}}</td>
         </tr>
         <tr>
           <td class="td-title">需求描述</td>
           <td colspan="5">{{wechatForm.Intro}}</td>
           <!--<td class="td-title">创建时间</td>-->
           <!--<td>{{wechatForm.AddTime|date: 'yyyy-MM-dd hh:mm'}}</td>-->
         </tr>
       </table>
        <div class="total-info-wrap">
          资源总数：<span>{{detailTotalInfo.all}}</span>， 待确认：<span>{{detailTotalInfo.pending}}</span>，执行中：<span>{{detailTotalInfo.doing}}</span>，已完成：<span>{{detailTotalInfo.finish}}</span>
        </div>
        <!-- 微信-->
        <table ng-if="currentMediaType == 2" class="table table-striped table-hover into-table">
          <tr class="blue-line">
            <th>微信账号</th>
            <th>{{ReleaseTypeObject[wechatForm.PriceType]}}</th>
            <!--<th>单图文报价</th>-->
            <!--<th>多图文第一条</th>-->
            <!--<th>多图文第二条</th>-->
            <!--<th>多图文3~N条</th>-->
            <th>成交价</th>
            <th>完成截图</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="item in selectedList track by $index">
            <td>
              {{item.BMediaNickName}}
            </td>
            <td>{{priceText(item.PriceJSON[PriceTypeNames[wechatForm.PriceType]])}}</td>
            <!--<td><p>{{priceText(item.PriceJSON.SingleYing)}}</p><p>{{priceText(item.PriceJSON.SingleRuan)}}</p></td>-->
            <!--<td><p>{{priceText(item.PriceJSON.MoreFirstYing)}}</p><p>{{priceText(item.PriceJSON.MoreFirstRuan)}}</p></td>-->
            <!--<td><p>{{priceText(item.PriceJSON.MoreSecondYing)}}</p><p>{{priceText(item.PriceJSON.MoreSecondRuan)}}</p></td>-->
            <!--<td><p>{{priceText(item.PriceJSON.MoreThreeYing)}}</p><p>{{priceText(item.PriceJSON.MoreThreeRuan)}}</p></td>-->
            <td>{{CommissionedPrice(item.CommissionedPrice)}}</td>
            <td><a ng-if="item.BState >= 5" href="{{window.location.origin + item.BPerformImage}}" target="_blank">查看截图</a></td>
            <td>{{getMediaStatus(item.BState)}}</td>
            <td>
              <a class="btn btn-primary" ng-if="item.BState == 5" href="javascript:;" ng-click="acceptExecute(item)">确认验收</a>
              <a ng-if="item.BState == 5" href="javascript:;" class="refond-wrap">申请退款<i class="glyphicon glyphicon-question-sign"></i></a>
              <a ng-if="item.BState == 2" class="btn-pre-pay" href="javascript:;" ng-click="frozenCapital(item)">金额预付<i class="glyphicon glyphicon-question-sign"></i></a>
            </td>
          </tr>
        </table>

        <!--微博 -->
        <table ng-if="currentMediaType == 1" class="table table-striped table-hover into-table">
          <tr class="blue-line">
            <th>账号</th>
            <th>{{ReleaseTypeObject[wechatForm.PriceType]}}</th>
            <!--<th>硬广直发价</th>-->
            <!--<th>硬广转发价</th>-->
            <!--<th>软广直发价</th>-->
            <!--<th>软广转发价</th>-->
            <th>成交价</th>
            <th>完成截图</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="item in selectedList track by $index">
            <td>
              {{item.BMediaNickName}}
            </td>
            <td>{{priceText(item.PriceJSON[PriceTypeNames[wechatForm.PriceType]])}}</td>
            <!--<td><p>{{priceText(item.PriceJSON.YGZhiFaPrice)}}</p></td>-->
            <!--<td><p>{{priceText(item.PriceJSON.YGZhuanFaPrice)}}</p></td>-->
            <!--<td><p>{{priceText(item.PriceJSON.RGZhiFaPrice)}}</p></td>-->
            <!--<td><p>{{priceText(item.PriceJSON.RGZhuanFaPrice)}}</p></td>-->
            <td>{{CommissionedPrice(item.CommissionedPrice)}}</td>
            <td><a ng-if="item.BState >= 5" href="{{window.location.origin + item.BPerformImage}}" target="_blank">查看截图</a></td>
            <td>{{getMediaStatus(item.BState)}}</td>
            <td>
              <a class="btn btn-primary" ng-if="item.BState == 5" href="javascript:;" ng-click="acceptExecute(item)">确认验收</a>
              <a ng-if="item.BState == 5" href="javascript:;" class="refond-wrap">申请退款<i class="glyphicon glyphicon-question-sign"></i></a>
              <a ng-if="item.BState == 2" class="btn-pre-pay" href="javascript:;" ng-click="frozenCapital(item)">金额预付<i class="glyphicon glyphicon-question-sign"></i></a>
            </td>
          </tr>
        </table>

        <!--朋友圈 -->
        <table ng-if="currentMediaType == 3" class="table table-striped table-hover into-table">
          <tr class="blue-line">
            <th>微信昵称</th>
            <th>报价</th>
            <th>好友数</th>
            <!--<th>所在地</th>-->
            <th>成交价</th>
            <th>完成截图</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="item in selectedList track by $index">
            <td>
              {{item.BMediaNickName}}
            </td>
            <td>{{priceText(item.PriceJSON.Price)}}</td>
            <td>{{item.BFansNumber}}</td>
            <!--<td>{{item.ProvinceName}},{{item.CityName}}</td>-->
            <td>{{CommissionedPrice(item.CommissionedPrice)}}</td>
            <td><a ng-if="item.BState >= 5" href="{{window.location.origin + item.BPerformImage}}" target="_blank">查看截图</a></td>
            <td>{{getMediaStatus(item.BState)}}</td>
            <td>

              <a class="btn btn-primary" ng-if="item.BState == 5" href="javascript:;" ng-click="acceptExecute(item)">确认验收</a>
              <a ng-if="item.BState == 5" href="javascript:;" class="refond-wrap">申请退款<i class="glyphicon glyphicon-question-sign"></i></a>
              <a ng-if="item.BState == 2" class="btn-pre-pay" href="javascript:;" ng-click="frozenCapital(item)">金额预付<i class="glyphicon glyphicon-question-sign"></i></a>
            </td>
          </tr>
        </table>
        <!-- -->
        <div class="txt-center">
          <!--<button ng-click="closeDetail()" class="btn btn-primary">关闭</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
