<div class="main-nav">
  <div ng-include="'./page/header.html'" ></div>
</div>
<div ng-controller="WechatPrecontractCtrl">

  <div class="sub-header-wrap">
    <div class="container">
      <ul class="nav nav-pills" ng-if="currentMediaType == 2">
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.wechat">公众号资源</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.wechatprecontract">发布公众号资源任务</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.wechatPreList">发布任务列表</a></li>
      </ul>
      <ul class="nav nav-pills" ng-if="currentMediaType == 1">
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.weibo">微博资源</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.weiboprecontract">发布微博资源任务</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.weiboPreList">发布任务列表</a></li>
      </ul>
      <ul class="nav nav-pills" ng-if="currentMediaType == 3">
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.friends">朋友圈资源</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.friendsprecontract">发布朋友圈资源任务</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.friendsPreList">发布任务列表</a></li>
      </ul>
    </div>
  </div>
  <div class="precontract-wrap page-minHeight ">
    <div class="precontract-body container">
      <div class="header">
        <h4 class="page-title"><i class="glyphicon glyphicon-file"></i> 发布{{currentMediaName}}任务</h4>
      </div>

      <div class="create-order-step-wrap">
        <div class="step-list center">
          <span><i class="glyphicon">1</i>选择资源</span>
          <span class="arrow"><i class="glyphicon glyphicon-arrow-right"></i></span>
          <span><i class="glyphicon">2</i>填写活动内容</span>
          <span class="arrow"><i class="glyphicon glyphicon-arrow-right"></i></span>
          <span><i class="glyphicon">3</i>下单支付</span>
        </div>
      </div>

      <div class="main-body marginTop">
        <form name="wechatInputForm" class="form-horizontal" ng-submit="saveWechat(wechatInputForm.$valid)">
          <!--<div class="form-group">-->
          <!--<label class="col-xs-2 control-label">投放形式</label>-->
          <!--<div class="col-xs-2">-->
          <!--<select class="form-control">-->
          <!--<option>硬广</option>-->
          <!--<option>软广</option>-->
          <!--</select>-->
          <!--</div>-->
          <!--<div class="col-xs-2">-->
          <!--<select class="form-control">-->
          <!--<option>单图文</option>-->
          <!--<option>多图文第一条</option>-->
          <!--<option>多图文第二条</option>-->
          <!--<option>多图文3~N条</option>-->
          <!--</select>-->
          <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>活动名称</label>
            <div class="col-xs-6">
              <input type="text" minlength="1" ng-required="true" class="form-control" placeholder="" ng-model="wechatForm.Title">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>活动描述</label>
            <div class="col-xs-6">
              <textarea class="form-control" minlength="10" cols="30" rows="6" ng-model="wechatForm.Intro"></textarea>
              <span class="input-tip">介绍下您本次活动的产品、品牌内容及相关链接，让名人/媒体有个大概的了解，不超过1000字。</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>开始时间</label>
            <div class="col-xs-6 execute-time-wrap">
              <div class="col-xs-4">
                <div class="input-group input-append input-prepend">
                  <input type="text" class="form-control" min-date="2015-8-11" date-time ng-model="wechatForm.StartTime" auto-close="true" required="true"  max-view="date" format="yyyy-MM-dd hh:mm" partial="true">
                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </div>
              <div class="col-xs-1 time-split">至</div>
              <div class="col-xs-4">
                <div class="input-group input-append input-prepend">
                  <input type="text" class="form-control"  date-time ng-model="wechatForm.EndTime" auto-close="true" required="true" max-view="date" format="yyyy-MM-dd hh:mm" partial="true">
                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </div>
              <div class="execute-tip input-tip">请尽量预算时间长些，以免档期无法配合</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>反馈时间</label>
            <div class="col-xs-6 execute-time-wrap">
              <div class="col-xs-4">
                <div class="input-group input-append input-prepend">
                  <input type="text" class="form-control" min-date="'2015-8-11'" date-time ng-model="wechatForm.FeedbackTime" auto-close="true" required="true"  max-view="date" format="yyyy-MM-dd hh:mm" partial="true">
                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </div>
              <div class="input-tip " ng-class="{true:'error'}[false]" >预约结果反馈时间必须晚于当前时间24小时。</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label"><span class="must-star">*</span>选择资源</label>
            <div class="col-xs-6">
              <div><a class="btn btn-sm btn-info" ng-click="openList()">添加资源</a></div>
              <!-- 微信公众号-->
              <div ng-if="currentMediaType == 2" class="selected-list">
                <table class="table table-striped table-hover">
                  <tr>
                    <th>微信账号</th>
                    <th>单图文报价</th>
                    <th>多图文第一条</th>
                    <th>多图文第二条</th>
                    <th>多图文3~N条</th>
                    <th>操作</th>
                  </tr>
                  <tr ng-repeat="item in selectedList track by $index">
                    <td>
                      {{item.NickName}}
                    </td>
                    <td><p>{{item.PriceJSON.SingleYing | currency: '￥'}}</p><p>{{item.PriceJSON.SingleRuan | currency: '￥'}}</p></td>
                    <td><p>{{item.PriceJSON.MoreFirstYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreFirstRuan | currency: '￥'}}</p></td>
                    <td><p>{{item.PriceJSON.MoreSecondYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreSecondRuan | currency: '￥'}}</p></td>
                    <td><p>{{item.PriceJSON.MoreThreeYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreThreeRuan | currency: '￥'}}</p></td>
                    <td><span ng-click="deleteItem(item.ID)" class="glyphicon glyphicon-remove"></span></td>
                  </tr>
                  <tr ng-if="selectedList.length <= 0">
                    <td colspan="6">
                      您还没有添加资源！
                    </td>
                  </tr>
                </table>
              </div>
              <div ng-if="currentMediaType == 2 && selectedList.length > 0" class="selected-result-info">
                <div class="item">
                  <span><p>合计信息</p>{{selectedList.length}}项</span>
                  <span><p>硬广:{{selectedTotalInfo.SingleYing | currency: '￥'}}</p><p>软广:{{selectedTotalInfo.SingleRuan | currency: '￥'}}</p></span>
                  <span><p>硬广:{{selectedTotalInfo.MoreFirstYing | currency: '￥'}}</p><p>软广:{{selectedTotalInfo.MoreFirstRuan | currency: '￥'}}</p></span>
                  <span><p>硬广:{{selectedTotalInfo.MoreSecondYing | currency: '￥'}}</p><p>软广:{{selectedTotalInfo.MoreSecondRuan | currency: '￥'}}</p></span>
                  <span><p>硬广:{{selectedTotalInfo.MoreThreeYing | currency: '￥'}}</p><p>软广:{{selectedTotalInfo.MoreThreeRuan | currency: '￥'}}</p></span>
                  <!--<span><a href="javascript:;">清空</a> </span>-->
                </div>
              </div>

              <!-- 微博-->
              <div ng-if="currentMediaType == 1" class="selected-list">
                <table class="table table-striped table-hover">
                  <tr>
                    <th>账号</th>
                    <th>硬广直发价</th>
                    <th>硬广转发价</th>
                    <th>软广直发价</th>
                    <th>软广转发价</th>
                    <th>操作</th>
                  </tr>
                  <tr ng-repeat="item in selectedList track by $index">
                    <td>
                      {{item.NickName}}
                    </td>
                    <td><p>{{item.PriceJSON.SingleYing | currency: '￥'}}</p><p>{{item.PriceJSON.SingleRuan | currency: '￥'}}</p></td>
                    <td><p>{{item.PriceJSON.MoreFirstYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreFirstRuan | currency: '￥'}}</p></td>
                    <td><p>{{item.PriceJSON.MoreSecondYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreSecondRuan | currency: '￥'}}</p></td>
                    <td><p>{{item.PriceJSON.MoreThreeYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreThreeRuan | currency: '￥'}}</p></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                  </tr>
                  <tr ng-if="selectedList.length <= 0">
                    <td colspan="6" class="txt-center">
                      您还没有添加资源！
                    </td>
                  </tr>
                </table>
              </div>
              <div ng-if="currentMediaType == 1 && selectedList.length > 0" class="selected-result-info">
                <div class="item">
                  <span><p>合计信息</p>{{selectedList.length}}项</span>
                  <span><p>硬直:{{selectedTotalInfo.YGZhiFaPrice | currency: '￥'}}</p></span>
                  <span><p>软直:{{selectedTotalInfo.YGZhuanFaPrice | currency: '￥'}}</p></span>
                  <span><p>硬转:{{selectedTotalInfo.RGZhiFaPrice | currency: '￥'}}</p></p></span>
                  <span><p>软转:{{selectedTotalInfo.RGZhuanFaPrice | currency: '￥'}}</p></span>
                  <!--<span><a href="javascript:;">清空</a> </span>-->
                </div>
              </div>

              <!-- 微信朋友圈-->
              <div ng-if="currentMediaType == 3" class="selected-list">
                <table class="table table-striped table-hover">
                  <tr>
                    <th>微信昵称</th>
                    <th>报价</th>
                    <th>好友数</th>
                    <th>所在地</th>
                    <th>操作</th>
                  </tr>
                  <tr ng-repeat="item in selectedList track by $index">
                    <td>
                      {{item.NickName}}
                    </td>
                    <td>{{item.PriceJSON.Price | currency: '￥'}}</td>
                    <td>{{item.FansNumber}}</td>
                    <td>{{item.ProvinceName}},{{item.CityName}}</td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                  </tr>
                  <tr ng-if="selectedList.length <= 0">
                    <td colspan="6" class="txt-center">
                      您还没有添加资源！
                    </td>
                  </tr>
                </table>
              </div>
              <div ng-if="currentMediaType == 3 && selectedList.length > 0" class="selected-result-info">
                <div class="item">
                  <span><p>合计信息</p>{{selectedList.length}}项</span>
                  <span><p>总价:{{selectedTotalInfo.Price | currency: '￥'}}</p></span>
                  <!--<span><a href="javascript:;">清空</a> </span>-->
                </div>
              </div>


            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label">是否短信通知</label>
            <div class="col-xs-8">
              <label>
                <input type="checkbox" ng-model="wechatForm.IsNotice">
                手机短信通知
              </label>
              <a href="javascript:;" ng-click="openAgreement()">服务协议</a>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-xs-2 control-label">&nbsp;</label>
            <div class="col-xs-8">
              <label>
                <input type="checkbox" checked disabled value="">
                同意相关
              </label>
              <a href="javascript:;" ng-click="openAgreement()">服务协议</a>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-xs-2 control-label">&nbsp;</label>
            <div class="col-xs-8">
              <button class="btn btn-primary">确定</button>
              <!--<input type="reset" class="btn btn-default" value="清空"/>-->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="myModalContent.html">
    <div class="choose-resource-layer padding">
      <h3>添加资源</h3>
      <div class="data-list-wrap">
        <div class="form-group form-inline">
          <label class="control-label">名称</label>
          <input type="text"/> <button class="btn btn-success btn-sm">搜索</button>
        </div>
        <div class="selected-list">
          <!-- 公众号-->
          <table ng-if="mediaType == 2" class="table table-striped table-hover">
            <tr>
              <th></th>
              <th>微信账号</th>
              <th>单图文报价</th>
              <th>多图文第一条</th>
              <th>多图文第二条</th>
              <th>多图文3~N条</th>
              <th>操作</th>
            </tr>
            <tr ng-repeat="item in items track by $index">
              <td><input type="checkbox" ng-model="selectedList[item.ID]" ng-click="addItem(item)" /></td>
              <td>
                {{item.NickName}}
              </td>
              <td><p>{{item.PriceJSON.SingleYing | currency: '￥'}}</p><p>{{item.PriceJSON.SingleRuan | currency: '￥'}}</p></td>
              <td><p>{{item.PriceJSON.MoreFirstYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreFirstRuan | currency: '￥'}}</p></td>
              <td><p>{{item.PriceJSON.MoreSecondYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreSecondRuan | currency: '￥'}}</p></td>
              <td><p>{{item.PriceJSON.MoreThreeYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreThreeRuan | currency: '￥'}}</p></td>
              <td><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <tr ng-if="selectedList.length <= 0">
              <td colspan="6">
                您还没有添加资源！
              </td>
            </tr>
          </table>
          <!-- 微博-->
          <table  ng-if="mediaType == 1" class="table table-striped table-hover">
            <tr>
              <th></th>
              <th>账号</th>
              <th>硬广直发价</th>
              <th>硬广转发价</th>
              <th>软广直发价</th>
              <th>软广转发价</th>
              <th>操作</th>
            </tr>
            <tr ng-repeat="item in items track by $index">
              <td><input type="checkbox" ng-model="selectedList[item.ID]" ng-click="addItem(item)" /></td>
              <td>
                {{item.NickName}}
              </td>
              <td><p>{{item.PriceJSON.SingleYing | currency: '￥'}}</p><p>{{item.PriceJSON.SingleRuan | currency: '￥'}}</p></td>
              <td><p>{{item.PriceJSON.MoreFirstYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreFirstRuan | currency: '￥'}}</p></td>
              <td><p>{{item.PriceJSON.MoreSecondYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreSecondRuan | currency: '￥'}}</p></td>
              <td><p>{{item.PriceJSON.MoreThreeYing | currency: '￥'}}</p><p>{{item.PriceJSON.MoreThreeRuan | currency: '￥'}}</p></td>
              <td><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <tr ng-if="selectedList.length <= 0">
              <td colspan="6" class="txt-center">
                您还没有添加资源！
              </td>
            </tr>
          </table>
          <!-- 朋友圈-->
          <table ng-if="mediaType == 3" class="table table-striped table-hover">
            <tr>
              <th></th>
              <th>微信昵称</th>
              <th>报价</th>
              <th>好友数</th>
              <th>所在地</th>
              <th>操作</th>
            </tr>
            <tr ng-repeat="item in items track by $index">
              <td><input type="checkbox" ng-model="selectedList[item.ID]" ng-click="addItem(item)" /></td>
              <td>
                {{item.NickName}}
              </td>
              <td>{{item.PriceJSON.Price | currency: '￥'}}</td>
              <td>{{item.FansNumber}}</td>
              <td>{{item.ProvinceName}},{{item.CityName}}</td>
              <td><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <tr ng-if="selectedList.length <= 0">
              <td colspan="6" class="txt-center">
                您还没有添加资源！
              </td>
            </tr>
          </table>


        </div>
        <div class="selecte-tip">
          <span>以选中<b>{{selectedTotal}}</b>项资源</span>
        </div>
        <div class="data-page">
          <pagination rotate="false" max-size="10" ng-change="pageChanged(currentPageIndex)" items-per-page="15" boundary-links="true" total-items="totalItems" ng-model="currentPageIndex" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
      </div>
      <div class="footer">

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </script>
</div>
