<div class="main-nav">
  <div ng-include="'./page/header.html'" ></div>
</div>
<div class="container marginTop user-center" ng-controller="advertiserBllCtrl">
  <div class="line-wrap margin-lr">
    <div class="header-tab marginLeft">
    <h4 class="page-inner-title">当前帐户信息</h4>&nbsp; <button ui-sref="advertiser.recharge" class="btn btn-info btn-sm">立即充值</button>
    </div>
    <div class="bill-wrap padding">
      <table class="table table-hover">
        <tr>
          <th>公司名称</th>
          <th>联系人</th>
          <th>余额</th>
          <th>冻结资金</th>
          <th>可用资金</th>
        </tr>
        <tr>
          <td>{{user.Company}}</td>
          <td>{{user.LinkName}}</td>
          <td>{{user.TotalAmount||0 | currency: '￥'}}</td>
          <td>{{user.AmountFrozen||0 | currency: '￥'}}</td>
          <td>{{user.AvailableBalance||0 | currency: '￥'}}</td>
        </tr>
      </table>
    </div>
    <div class="header-tab marginLeft">
      <h4>充值明细</h4>
    </div>
    <div class="search-wrap form-inline padding ">
      <label>起止时间</label>
      <div class="input-group input-append input-prepend">
        <input type="text" class="form-control" date-time placeholder="开始时间" ng-model="search.startTime" auto-close="true" required="true" min-view="date" max-view="date" format="yyyy-MM-dd" partial="true">
      </div>
      -
      <div class="input-group input-append input-prepend">
        <input type="text" class="form-control" date-time placeholder="结束时间" ng-model="search.endTime" auto-close="true" required="true" min-view="date" max-view="date" format="yyyy-MM-dd" partial="true">
      </div>
      <button ng-click="searchHandler()" class="btn btn-info">查询</button>
    </div>
    <div class="padding">
      <table class="table table-hover">
        <tr>
          <th>充值流水号</th>
          <th>充值时间</th>
          <th>充值金额</th>
          <th>充值类型</th>
          <th>状态</th>
        </tr>
        <tr ng-repeat="item in payRecords track by $index">
          <td>{{item.OrderNo}}</td>
          <td>{{calcDate(item.PayTime) | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
          <td>{{item.PayMoney | currency: '￥'}}</td>
          <td>{{item.Type == 1? '支付宝': '银行转账'}}</td>
          <td>{{payStatus(item.State)}}</td>
        </tr>
        <tr ng-if="payRecords.length <= 0">
          <td colspan="5" class="txt-center">暂无数据</td>
        </tr>
      </table>
      <div class="txt-center">
        <pagination rotate="false" max-size="10" ng-change="pageChanged(currentPageIndex)" items-per-page="pageSize" boundary-links="true" total-items="totalItems" ng-model="currentPageIndex" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
    </div>

  </div>
</div>
