<div class="main-nav">
  <div ng-include="'./page/header.html'" ></div>
</div>
<div class="dashboard-wrap" ng-controller="DashboardCtrl">
  <div class="container dashboard">
    <div class="top">
      <div class="account">
        <div>余额:</div>
        <div><span class="money">{{user.AvailableBalance || 0 | currency:''}}</span>元</div>
        <div>
          <a ui-sref="advertiser.bill" href="#" class="btn btn-primary center">充值</a>
        </div>
      </div>
      <div class="order-info">
        <div class="item">
          <span>总订单数:</span>
          <span class="right"><span class="money">{{orderInfo.totalItems}}</span>单</span></div>
        <div class="item">
          <span>进行中的订单数:</span>
          <span class="right"><span class="money">{{orderInfo.totalItems}}</span>单</span>
        </div>
      </div>
      <div class="message">
        <div class="msg-header">公告</div>
        <div class="msg-body">
          <div class="item" ng-repeat="item in noticeList track by $index">
            <a ng-click="openNotice(item.ID)" href="javascript:;">{{item.Title}}</a><span>{{calcDate(item.AddTime) | date : 'yyyy-MM-dd'}}</span>
          </div>
          <div class="item" ng-if="noticeList.length<= 0">暂无公告</div>
        </div>
        <!--<a class="more" href="#">详情>></a>-->
      </div>
    </div>
    <div class="body" ng-controller="PrecontractListCtrl">
      <div class="header">活动列表</div>
        <table class="table table-striped table-hover">
          <tr>
            <th>活动名称</th>
            <th>预约结果反馈时间</th>
            <th>预计推广时间</th>
            <th>推广结束时间</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="item in dataList track by $index">
            <td>{{item.Title}}</td>
            <td>{{calcDate(item.FeedbackTime) | date: 'yyyy-MM-dd hh:mm'}}</td>
            <td>{{calcDate(item.StartTime) | date: 'yyyy-MM-dd hh:mm'}}</td>
            <td>{{calcDate(item.EndTime) | date: 'yyyy-MM-dd hh:mm'}}</td>
            <td>{{calcDate(item.AddTime) | date: 'yyyy-MM-dd hh:mm'}}</td>
            <td>{{getStatus(item.State)}}</td>
            <td>
              <a ng-click="removeItem(item.ID)" href="javascript:;">删除</a>
            </td>
          </tr>
          <tr ng-if="dataList.length <=0">
            <td colspan="8" class="no-data">暂无数据</td>
          </tr>
        </table>
    </div>
    <div class="new-media-list-wrap">
      <div class="page-title">最新资源</div>
      <div class="new-media-list">

        <div class="item" ng-repeat="item in newList track by $index">
          <div class
                       ="header-img">
            <img ng-src="{{window.location.origin + item.WeiBoImage}}" alt=""/>
          </div>
          <div class="media-info">
            <div class="title info-item"><a href="javascript:;">{{item.NickName}}</a>
              <span class="media-icon weibo"></span>
            </div>
            <!--<div class="info-item">地区：广东,广州</div>-->
            <div class="info-item">粉丝：{{item.FansNumber}}</div>
            <div class="info-item detail-wrap">软广转发价:{{item.RGZhuanFaPrice | currency:'￥'}}
              <span class="see-detail"><a href="javascript:;">查看</a></span>
            </div>
          </div>
        </div>
        <div class="no-data">
          暂无数据
        </div>

      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">公告详情</h3>
  </div>
  <div class="modal-body">
    <p>
      {{item.Intro}}
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">关闭</button>
  </div>
</script>