<div class="main-nav">
    <div ng-include="'./page/header.html'" ></div>
</div>
<div ng-controller="StarCtrl">
<div class="sub-header-wrap">
    <div class="container center">
    <ul class="nav nav-pills">
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.datalist({'mediaType':2})">公众号资源</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.datalist({'mediaType':3})">新浪微博资源</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="advertiser.datalisth({'mediaType':4})">朋友圈资源</a></li>
    </ul>
    </div>
</div>
<div class="container center star-wrap">
    <div class="search-wrap">
        <div class="search-input row">
            <div class="search-left">
                <ul class="search-nav">
                    <li ng-class="{true:'active'}[tabIndex ==1]"><a ng-click="tabIndex = 1" href="">全部资源</a></li>
                    <li ng-class="{true:'active'}[tabIndex ==2]"><a ng-click="tabIndex = 2" href="">收藏资源</a></li>
                    <li ng-class="{true:'active'}[tabIndex ==3]"><a ng-click="tabIndex = 3" href="">报价单资源</a></li>
                </ul>
                <div class="input-wrap">
                    <input type="text" class="" placeholder="输入关键字">
                    <button class="glyphicon glyphicon-search" type="button"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- 资源-->
    <div class="search-arg-wrap" ng-if="tabIndex == 1">
        <ul class="">
            <li class="block">
                <div class="arg-name"><i class="glyphicon glyphicon-play"></i>职业</div>
                <div class="arg-el">
                    <a href="#" ng-model="type" btn-radio="'all'">不限</a>
                    <a href="#" ng-model="type" btn-radio="'派单类'">派单类</a>
                    <a href="#" ng-model="type" btn-radio="'1'">派单类</a>
                    <a href="#" ng-model="type" btn-radio="'23'">派单类</a>
                    <a href="#" ng-model="type" btn-radio="'3'">派单类</a>
                    <a href="#" ng-model="type" btn-radio="'4'">派单类</a>
                </div>
                <div class="more-drop">
                    <a class="active" href="#">更多 <i class="glyphicon glyphicon-chevron-down"></i></a>
                </div>
            </li>
            <li class="block">
                <div class="arg-name"><i class="glyphicon glyphicon-play "></i>媒体领域</div>
                <div class="arg-el">
                    <a href="#" ng-model="argPrice" btn-radio="'all'">不限</a>
                    <a href="#" ng-model="argPrice" btn-radio="'1'">不限</a>
                    <a href="#" ng-model="argPrice" btn-radio="'2'">不限</a>
                    <a href="#" ng-model="argPrice" btn-radio="'3'">不限</a>
                </div>
            </li>
            <li class="block">
                <div class="arg-name"><i class="glyphicon glyphicon-play"></i>所在地</div>
                <div class="arg-el">
                    <a href="#" ng-model="argXX" btn-radio="'all'">不限</a>
                    <a href="#" ng-model="argXX" btn-radio="'1'">不限</a>
                    <a href="#" ng-model="argXX" btn-radio="'2'">不限</a>
                    <a href="#" ng-model="argXX" btn-radio="'3'">不限</a>
                </div>
            </li>
            <li class="block">
                <div class="arg-name"><i class="glyphicon glyphicon-play"></i>参考报价</div>
                <div class="arg-el">
                    <a href="#" ng-model="argTFFF" btn-radio="'all'">不限</a>
                    <a href="#" ng-model="argTFFF" btn-radio="'3'">不限</a>
                    <a href="#" ng-model="argTFFF" btn-radio="'23'">不限</a>
                </div>
            </li>
        </ul>
        <div class="data-table">
            <table class="table">
                <thead>
                <tr>
                    <th>字段1</th>
                    <th>字段2</th>
                    <th>字段3</th>
                    <th>字段4</th>
                    <th>字段5</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>

                </tbody>
            </table>
            <div class="txt-center">
                <pagination rotate="false" max-size="10" ng-change="pageChanged()" items-per-page="15" boundary-links="true" total-items="190" ng-model="currentPageIndex" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>

    <!-- 收藏-->
    <div class="favorite-list-wrap" ng-if="tabIndex == 2">
        <div><h3>收藏列表</h3></div>
        <div class="data-table">
            <table class="table">
                <thead>
                <tr>
                    <th>字段1</th>
                    <th>字段2</th>
                    <th>字段3</th>
                    <th>字段4</th>
                    <th>字段5</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>

                </tbody>
            </table>
            <div class="txt-center">
                <pagination rotate="false" max-size="10" ng-change="pageChanged()" items-per-page="15" boundary-links="true" total-items="190" ng-model="currentPageIndex" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>

    <!-- 报价单-->
    <div class="" ng-if="tabIndex == 3">
        <div><h3>报价单</h3></div>
        <div class="data-table">
            <table class="table">
                <thead>
                <tr>
                    <th>字段1</th>
                    <th>字段2</th>
                    <th>字段3</th>
                    <th>字段4</th>
                    <th>字段5</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                    <td>data4</td>
                    <td>data5</td>
                </tr>

                </tbody>
            </table>
            <div class="txt-center">
                <pagination rotate="false" max-size="10" ng-change="pageChanged()" items-per-page="15" boundary-links="true" total-items="190" ng-model="currentPageIndex" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>

</div>
</div>
