<div class="main-nav">
  <div ng-include="'./page/header.html'" ></div>
</div>
<div class="container marginTop user-center" ng-controller="UserCenterCtrl">
  <div class="line-wrap margin-lr">
  <div class="header-tab">
      <a ng-class="{true:'active'}[tabIndex ==0]" href="#" ng-click="tabIndex = 0">资料编辑</a>
      <a ng-class="{true:'active'}[tabIndex ==1]" href="#" ng-click="tabIndex = 1">修改密码</a>
  </div>
  <div class="form-wrap">
    <div  ng-show="tabIndex ==0" class="user-info row ng-hide">
      <div class="col-xs-8">
        <form ng-if="isAdOwner" name="userForm" novalidate ng-submit="save(userForm.$valid)">
          <div class="form-group">
            <label class="col-xs-4 control-label"><span class="icon-star">*</span>昵称</label>
            <div class="col-xs-4">
              <input type="text" required="" name="UserName" class="form-control" ng-model="form.UserName" ng-model-options="{ updateOn: 'blur' }"/>
              <span class="error-tip" ng-show="userForm.contacter.$error.UserName">请输入昵称.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label"><span class="icon-star">*</span>公司名称</label>
            <div class="col-xs-4">
              <input type="text" required="" name="companyName" class="form-control" ng-model="form.Company" ng-model-options="{ updateOn: 'blur' }"/>
              <span class="error-tip" ng-show="userForm.companyName.$error.companyName">请输入公司名称</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label"><span class="icon-star">*</span>联系人</label>
            <div class="col-xs-4">
              <input type="text" required="" name="name" class="form-control" ng-model="form.LinkName" ng-model-options="{ updateOn: 'blur' }"/>
              <span class="error-tip" ng-show="userForm.name.$error.name">请输入公司名称</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label"><span class="icon-star">*</span>网站</label>
            <div class="col-xs-4">
              <input type="url" required=""  name="siteUrl" class="form-control" ng-model="form.WebSite" ng-model-options="{ updateOn: 'blur' }"/>
              <span class="error-tip" ng-show="userForm.siteUrl.$error.siteUrl">请输入正确的网站地址.</span>
              <span>格式：http://www.baidu.com</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label">&nbsp;</label>
            <div class="col-xs-4">
              <input class="btn btn-success" value="保存" type="submit" />
            </div>
          </div>
        </form>
        <!-- 媒体表单-->
        <form ng-if="!isAdOwner" name="userForm" novalidate ng-submit="save(userForm.$valid)">
          <div class="form-group">
            <label class="col-xs-4 control-label"><span class="icon-star">*</span>昵称</label>
            <div class="col-xs-4">
              <input type="text" required="" name="UserName" class="form-control" ng-model="form.UserName" ng-model-options="{ updateOn: 'blur' }"/>
              <span class="error-tip" ng-show="userForm.contacter.$error.UserName">请输入昵称.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label"><span class="icon-star">*</span>QQ账号</label>
            <div class="col-xs-4">
              <input type="text" required="" name="QQ" class="form-control" ng-model="form.QQ" ng-model-options="{ updateOn: 'blur' }"/>
              <span class="error-tip" ng-show="userForm.companyName.$error.QQ">请输入QQ号</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label"><span class="icon-star">*</span>微信账号</label>
            <div class="col-xs-4">
              <input type="text" required="" name="WX" class="form-control" ng-model="form.WX" ng-model-options="{ updateOn: 'blur' }"/>
              <span class="error-tip" ng-show="userForm.name.$error.WX">请输入微信账号</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-4 control-label"><span class="icon-star">*</span>常用邮箱</label>
            <div class="col-xs-4">
              <input type="email" required=""  name="Email" class="form-control" ng-model="form.Email" ng-model-options="{ updateOn: 'blur' }"/>
              <span class="error-tip" ng-show="userForm.siteUrl.$error.Email">请输入正确的邮箱.</span>
              <span>格式：xxx@xxx.xx</span>
            </div>
          </div>
          <!--<div class="form-group">-->
          <!--<label class="col-xs-4 control-label"><span class="icon-star">*</span>电子邮箱</label>-->
          <!--<div class="col-xs-4">-->
          <!--<input type="email" required="" class="form-control" name="email" ng-model="form.email" ng-model-options="{ updateOn: 'blur' }"/>-->
          <!--<span class="error-tip" ng-show="userForm.email.$error.email">请输入正确的邮箱.</span>-->
          <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <label class="col-xs-4 control-label">&nbsp;</label>
            <div class="col-xs-4">
              <input class="btn btn-success" value="保存" type="submit" />
              <!--<input class="btn btn-success" ng-hide="userForm.inputFieldName.$valid" value="保存" type="submit" />-->
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-2">
        <h3>完善资料</h3>
        <p>资料更完整，账号更安全。完善资料将帮助我们更好的提供服务。
        </p>
      </div>
    </div>
    <div ng-show="tabIndex ==1" class="settings user-info  ng-hide">
      <div class="pwd-wrap row">
        <div class="col-xs-8">
          <form name="passwordForm" novalidate ng-submit="savePwd(passwordForm.$valid)">
            <div class="form-group">
              <label class="col-xs-4 control-label"><span class="must-star">*</span>旧密码</label>
              <div class="col-xs-4">
                <input type="password" required="true" name="oldPwd" class="form-control" placeholder="请输入旧密码" ng-model="pwdForm.oldPwd" ng-model-options="{ updateOn: 'blur' }"/>
                <span class="error-tip" ng-show="passwordForm.oldPwd.$error.oldPwd">请输入旧密码.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label"><span class="must-star">*</span>新密码</label>
              <div class="col-xs-4">
                <input type="password" maxlength="22" placeholder="请输入6-22位字母或数字" minlength="6" required="true" name="newPwd" class="form-control" ng-model="pwdForm.newPwd" ng-model-options="{ updateOn: 'blur' }"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label"><span class="must-star">*</span>确认密码</label>
              <div class="col-xs-4">
                <input type="password" required="true" name="confirmPwd" placeholder="请再次输入新密码" class="form-control" ng-model="pwdForm.confirmPwd" ng-model-options="{ updateOn: 'blur' }"/>
                <span class="error-tip" ng-show="passwordForm.confirmPwd.$error.confirmPwd">请再次输入新密码.</span>
                <span class="error-tip" ng-show="pwdForm.confirmPwd != pwdForm.newPwd">两次密码输入不一致.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">&nbsp;</label>
              <div class="col-xs-4">
                <input class="btn btn-success" value="保存" type="submit" />
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>
